:root {
    --headline-color: #393939;
    --text-color: #747a8b;
    --p-of-header: #007fc1;
}

h3 {
    padding-top: 150px;
    font-size: 3em;
    color: var(--headline-color);
}
p {
    color: var(--text-color);
    width: 35%;
}

h3 ~ p {
    color: var(--p-of-header);
    width: 100%;
}
