:root {
    --headline-color: #393939;
    --text-color: #747a8b;
    --p-of-header: #007fc1;
    --scroll-text: #ffcf0b;
}

h3 {
    padding-top: 150px;
    font-size: 3em;
    color: var(--headline-color);
}
p {
    color: var(--text-color);
    width: 35%;
}

h3 ~ p {
    color: var(--p-of-header);
    width: 100%;
}

.sign {
    color: var(--headline-color);
    margin-left: 1em; 
}

.scroll {
    margin-top: 4em; 
    text-align: center;
    color: var(--scroll-text);
    font-size: 4em;
    transform: rotate(90deg);
    width: 3em;
}
